@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-Regular-webfont.eot');
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('font/Lobster1.3.eot');
  src: url('font/Lobster1.3.eot?#iefix') format('embedded-opentype'),
       url('font/Lobster1.3.woff2') format('woff2'),
       url('font/Lobster1.3.woff') format('woff'),
       url('font/Lobster1.3.ttf') format('truetype'),
       url('font/Lobster1.3.svg#Lobster1.3') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(255, 250, 213);
	color: rgb(16, 91, 99);
	font-family: 'OpenSans', Helvetica;
	font-size: 16px;
  overflow:hidden;
}

i.fa-twitter {
  	color: rgb(189, 73, 50);
}

div#profile-area {
	width: 475px;
	margin: auto;
  text-align: center;
}

.profile-header h1 {
  font-family: 'Lobster', Helvetica;
  font-size: 75px;
  color: rgb(189, 73, 50);
}

.profile-header img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
}

div.profile-content p {
  margin: 10px auto;
}

div.profile-content p::selection,
div.profile-header::selection,
div.profile-header h1::selection {
  color: rgb(255, 250, 213);
  background: rgb(219, 158, 54);
}

section#content a {
	text-decoration: none;
}

section#content a:link {
  color: rgb(189, 73, 50);
}

section#content a:visited {
  color: rgb(189, 73, 50);
}

section#content a:hover {
	color: rgb(219, 158, 54);
}

section#content a:focus {
  color: rgb(189, 73, 50);
}

section#content a:active {
  color: rgb(189, 73, 50);
}
